.mainImg{
  width: 580px;
}
li{
  list-style-type: none;
  color: #737373;
  Font-style: Regular;
Font-size: 14px;
Line-height: 24px;
Letter-spacing: 0.2px;

}
.logo{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: inline-flex;
  padding-left: 100;
  padding-right: 100;

  font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

letter-spacing: 0.1px;
color: #252B42;


}
.navigation li{
  list-style: none;
  list-style-type: none;
  display: inline-block;
  padding-left: 100;
  padding-right: 100;

  font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
letter-spacing: 0.2px;
color: #737373;
padding: 10px;
}
.navbar
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:  0 100px;
  background-color: #FAFAFA;

}.navbar a{
  text-decoration: none;
  color:inherit;
}
.tagline{
display: flex;
flex-direction: column;


}
body{
  margin: 0;

  font-family: montserrat;
}
.logo2{
  color: #96BB7C;
  font-weight: bold;
}
.landingPage{
  display: flex;
  justify-content: space-between;
  padding:  0 100px;
  background-color: #FAFAFA;

}
.bigHeading{
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 80px;
margin-top:100px;
}
.smallHeading{
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;


letter-spacing: 0.2px;

color: #737373;
margin-bottom:30px;
margin-top:50px;
}
.SignUp{
  display:inline-block;
  border: 1.2px #96BB7C solid;
  padding: 15px 40px;
  border-radius: 35px;
  color: #96BB7C;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}
.LearnMore{
  display:inline-block;
  border-radius: 35px;
  background-color:  #96BB7C;
  padding: 15px 40px;
  color: white;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;

}
.contactbox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 100px 80px 100px;
  background-color: #FAFAFA;

}
.contactDetails{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contacticon{
  font-size: 42px;
}
.contacttype{
  font-size: 16px;
  color: #ADADAD;
}
.contactImg{
  margin:  60px 0;
}
.contactHead{
  font-weight: 600;
  font-size: 40px;
  margin-top: 52px;
  margin-bottom: 50px;
  display: block;

}
.contactDetails{
  margin: 40px 0;

}
.contacticon{
  color:#96BB7C;
}
.contacDescription{
  margin-left:30px;
}
.courseimg{
  width: 200px;


  justify-content: center;
  background-size: cover;


}
.nameOfSubject{
  font-weight: 600;
  font-size: 18px;
}
.descriptionOfSubject{
  font-weight: 400;
 font-size: 12px;
}
.courseitem{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  padding: 30px;
  border-radius: 12px;
  width: 200px;
  margin:25px;
}



.logo_footer{
  display: block;
}
.Follow{
  display: block;
  margin:30px 0;
  font-size: 17px;
  color: #A0A0A0;
}

.footer{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  background-color: #E8E9E7;
  padding:  40px 100px;

}
.footer ul{
line-height: 2.5;
font-weight: 500;
}
.footer li{
  line-height: 2;
}
.socialicon{
  font-size: 25px;
  margin: 4px;
  color: #96BB7C;
}
.courseinfo{
  padding: 5px;
}
.grids{


}
.CourseList{
  margin: 100px;
}
.btn{
  border: 1px #96BB7C solid;
  border-radius: 100px;
  display: inline-block;
  text-align: center;
  padding: 12px;
  font-size: 16px;
  color: #96BB7C;
  font-weight: 600;
}

.gridscourse{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

flex-direction: row;

}

.feature_section{
  padding:  30px 100px;
  background-color: #FAFAFA;
}
.feature_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.feature_item{
  width: 200px;
  height: auto;
  background-color: white;
  padding: 35px 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.feature_icon{
  background-color: #E74040;
  color: white;
  border-radius: 100%;
  display: inline-flex;
  text-align: center;
  padding: 20px;
  justify-content: center;
  font-size: 25px;
  margin-bottom: 24px;
}
.feature_description{
  color: #252B42;
  font-weight: 600;
  Font-size: 24px;
  display: block;
}
.Page_cover{
  width: 100vw;
  height: 200px;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #FAFAFA;
}
.subdomain{
  color: #96BB7C;
}
.video{
  width: auto;
  height: auto;

}
.Playlist_cover{
  margin: 0 100px ;
display: fl

}
.Playlist_item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 368px;
  display: inline-block;
  margin:5px;

}
.thumbnail{
  width: 368px;
  height: 207px;
  background-color: grey;
}
.text_data{
  background-color: #fff;
  font-family: serif;
  margin-top: 8px;
}
.descriptionOfSubject{
  font-family:   arial  ;
  font-weight: 400px;
  font-size: 16px;
  color: #A0A0A0;
  line-height: 0.00000001;




}
.CourseList img{
  width: 100%;
}
.material_cover{
  display: flex;
  align-items: baseline;
  margin:  100px 100px;
  background-image:url(images/decide.jpg);
  flex-wrap: wrap;
  justify-content: center;

}
.matrial_box{
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   padding: 35px;
   border-radius: 14px;
   margin: 20px ;

}
.material_icon{
  display: inline;
  color: #F58840;
  font-size: 34px;
  margin-right: 20px;

}
.content_head{
  display: inline-block;
}
.contenticon{
  display: inline-block;
}

.Book_cover a{
  text-decoration: none;
  color: black;
}
.footer ul {
    margin: 0; /* To remove default bottom margin */ 
    padding: 0; /* To remove default left padding */
}
@media (max-width:1105px) {
  .navigation{
    display: none;
  }
  .logo{
    text-align: center;
    margin: 20px;
  }
  .navbar{
    justify-content: center;
  }
  .landingPage{
    flex-direction: column;
    
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  .contactbox{
    flex-direction: column;
    justify-content: center;
  }
  .main-img{
  width:65vw;
  }
  .contactImg{
    width:65vw;
  }
  .footer{
  flex-direction:column;
  }
  .feature_container{
    flex-direction:column;
  }
  .bigHeading{
  font-size:42px;
  }
  
  

}
